package ui

templ Index(site Site, heading string, sections []IndexSection) {
	@Layout(site, heading) {
		<section id="index">
			<h1>{ heading }</h1>
			for _, s := range sections {
				<section class="index-section">
					if s.Title != "" {
						<h2>{ s.Title }</h2>
					}
					@PageList(s.Pages)
				</section>
			}
		</section>
	}
}
